@model rwaLib.Models.SearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <link href="~/Content/Search.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Stars.js"></script>
</head>

@*<div>
        @using (Html.BeginForm("Search", "Apartment", "GET"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.FilterRooms)
                @Html.TextBoxFor(x => x.FilterRooms,
                new { @class = "form-control", @type = "number" })
                @Html.LabelFor(x => x.FilterAdults)
                @Html.TextBoxFor(x => x.FilterAdults,
                new { @class = "form-control", @type = "number" })
                @Html.LabelFor(x => x.FilterChildren)
                @Html.TextBoxFor(x => x.FilterChildren,
                new { @class = "form-control", @type = "number" })
                @Html.DropDownListFor(x => x.FilterCity,
            new SelectList(Model.CityList, "Id", "Name"))
                @Html.DropDownListFor(x => x.Order,
            new SelectList(Model.OrderList, "Id", "Name"))

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Go!</button>
            </div>
        }
    </div>*@
<div>
    <div class="well-searchbox">
        @using (Html.BeginForm("Search", "Apartment", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group col">
                @Html.LabelFor(x => x.FilterRooms, "Rooms", new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.FilterRooms,
                            new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FilterAdults, "Adults", new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.FilterAdults,
                            new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FilterChildren, "Children", new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.FilterChildren,
                            new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-8">
                    @Html.DropDownListFor(x => x.FilterCity,
                        new SelectList(Model.CityList, "Id", "Name"))

                </div>
            </div>
            <div class="form-group">

                <div class="col-md-8">
                    @Html.DropDownListFor(x => x.Order,
                            new SelectList(Model.OrderList, "Id", "Name"))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        }

    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (int i = 0; i < Model.SearchResult.Count; i++)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                @*<div>@Model.SearchResult[i].Name</div>
                    <div>@Model.SearchResult[i].StarRating</div>
                    <div>
                        <img src="/Apartment/Picture?Path=@Model.SearchResult[i].RepresentativePicturePath" />
                    </div>
                    <ul>
                        <li>@Model.SearchResult[i].CityName</li>
                        <li>@Model.SearchResult[i].BeachDistance</li>
                        <li>@Model.SearchResult[i].TotalRooms</li>
                        <li>@Model.SearchResult[i].MaxAdults</li>
                        <li>@Model.SearchResult[i].MaxChildren</li>
                    </ul>
                    <div>@Model.SearchResult[i].Price</div>

                    @Html.ActionLink("Više...", "Details",
                    new
                    {
                        id = Model.SearchResult[i].Id
                    },
                    new { @class = "btn btn-primary" })*@
                <img src="/Apartment/Picture?Path=@Model.SearchResult[i].RepresentativePicturePath" class="card-img-top" alt="Representative Picture">
                <div class="card-body">
                    <h5 class="card-title">@Model.SearchResult[i].Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div style="display: flex; flex-wrap: wrap;">
                            @for (int j = 0; j < Model.SearchResult[i].StarRating; j++)

                            {
                                <img style="width: 10%; height:10%; margin: 0px; padding-bottom:10px;" src="~/Content/stars.png" alt="Stars">


                            }
                            </div>
                    </li>
                    <li class="list-group-item">Located in @Model.SearchResult[i].CityName</li>
                    <li class="list-group-item">Distance from the beach: @Model.SearchResult[i].BeachDistance</li>
                    <li class="list-group-item">No.Rooms: @Model.SearchResult[i].TotalRooms</li>
                    <li class="list-group-item">No.Adults: @Model.SearchResult[i].MaxAdults</li>
                    <li class="list-group-item">No.Children: @Model.SearchResult[i].MaxChildren</li>
                    <li class="list-group-item">Price: @Model.SearchResult[i].Price</li>

                </ul>
                <div class="card-body">
                    <a href="@Url.Action("Details","Apartment", new { id = Model.SearchResult[i].Id })" class="card-link">Details</a>
                    <a href="#" class="card-link">Contact</a>
                </div>
            </div>
        </div>
    }
</div>
